/* 카테고리별 추천 광고상품 */

.categori {
  font-size: 30px;
  font-weight: bolder;
}


.container2 {
  width: 1500px;
  height: 500px;
  display: flex;
}

.container-second-left {
  width: 180px;
  height: 500px;
  display: flex;
}

.container-second-center {
  width: 400px;
  height: 500px;
  position: relative;
}

.downy-explain {
  padding: 15px;
  color: white;
  position: absolute;
  top: 480px;
  left: 40px;
  text-align: center;
  border: solid;
  background-color: brown;
}

.items {
  text-align: center;
}





#button {
  position: absolute;
  top: 608px;
  left: 135px;
}

.button {
  width: 13px;
  height: 13px;
  border-radius: 50%;
}



.container-second-right {
  width: 900px;
}



/* 생활용품 */
.left-1 {
  font-size: 20px;
  color: brown;
  border: 0.1px solid #C4C4C4;
}

div>p[class="item1"] {
  border: 1px solid #C4C4C4;
  color: brown;
}





.first-line {
  display: flex;
  justify-content: baseline
}

.second-line {
  display: flex;
  justify-content: baseline;

}

.logo {
  width: 65px;
  height: 16px;
}